    <footer>
      <p>
        Most images are dithered using
        <a
          href="https://ditherit.com"
          aria-label="Dither it! An image dithering website"
          >Dither it!</a
        >
        with an output width of 1000px, reducing the colour palette and file
        size for faster load times and a smaller carbon footprint.
      </p>
      <p>
        The photo of me in a corner staring out a window is by
        <a
          href="https://www.lindabournane.com"
          aria-label="Linda Bournane Engelberth, a photographer"
          >Linda Bournane Engelberth</a
        >, and was taken as part of her
        <a
          href="https://www.lindabournane.com/outside-the-binary"
          aria-label="Outside the Binary, a photo project by Linda Bournane Engelberth"
          >Outside the Binary</a
        >
        project.
      </p>
      <p>
        You can check out the source code for this website on
        <a
          href="https://github.com/yndajas/simple-website"
          aria-label="GitHub repository containing the source code for this website"
          >GitHub</a
        >.
      </p>
    </footer>
  </body>
</html>
