    <footer>
      <p>
        Images are dithered using
        <a
          href="https://ditherit.com"
          aria-label="Dither it! An image dithering website"
          >Dither it!</a
        >
        with an output width of 1000px, reducing the colour palette and file
        size for faster load times and a smaller carbon footprint.
      </p>
      <p>
        You can check out the source code for this website on
        <a
          href="https://github.com/yndajas/simple-website"
          aria-label="GitHub repository containing the source code for this website"
          >GitHub</a
        >.
      </p>
    </footer>
  </body>
</html>
