<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="title" content="Ynda Jas (they/she)" />
    <meta name="description" content="A new website for Ynda Jas" />

    <title>Ynda Jas (they/she)</title>

    <!-- Open Graph/Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://yndajas.co" />
    <meta property="og:title" content="Ynda Jas" />
    <meta property="og:description" content="A new website for Ynda Jas" />

    <!-- Twitter -->
    <meta property="twitter:url" content="https://yndajas.co" />
    <meta property="twitter:title" content="Ynda Jas" />
    <meta property="twitter:description" content="A new website for Ynda Jas" />

    <link rel="stylesheet" href="./assets/styles/reset.css" />
    <link rel="stylesheet" href="./assets/styles/main.css" />
    <link rel="icon" href="./assets/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
